html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.day {
  background-image: url('sunbackground.png');
}

.night {
  background-image: url('nightbackground.png');
}
#name
{
  color: white;
}

.app-input
{
  text-align: center;
  margin-top: 15px;
}
.app-input input
{
  border: none;
  border-radius: 20px;
  width: 40%;
  height: 30px;
}
.app-input button
{
  border: none;
  border-radius: 30px;
  width: 50px;
  height: 25px;
  background: white;
  color: gray;
}
.app-output
{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 400px;
  margin-top: 30px;
  margin-top: 20px;
}

.general-detail h4
{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color:hsl(0, 0%, 100%);
}
.general-detail p
{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:hsl(0, 0%, 100%);
}

.weather-detail h10
{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color:hsl(0, 0%, 100%);
}

.weather-detail p
{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:hsl(0, 0%, 100%);
}
